
@{
    ViewBag.Title = "About";
}
   <style>
       #t1{
           float: left;
           display: block;
           margin-left: 1%;
           width: 35%;
           text-align: center;
           font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,'Roboto';
       }
       #con {
           text-align: center;
           margin: 0 auto;
       }
   </style>
    <div class="jumbotron">
        <h1>О нашем магазине</h1>
        <p>Наша компания начала функционировать достаточно давно: ее история берет свое начало в 2007 году. В настоящее время мы имеем довольно большукю клиентскую базу по всему ЦФО, множество партнеров, в сотрудничестве с которыми мы работаем на протяжении длительного времени</p>
        <div class="container" id="con">
            <h3 style="text-align: center;">Способы доставки</h3>
            <div class="alert alert-info" id="t1">
                <h4>Курьерская доставка</h4>
                <ul style="list-style:none">
                    <li>Major Express</li>
                    <li>EMS</li>
                    <li>Почта России</li>
                    <li>DHL</li>
                    <li>FedEx</li>
                    <li>Pony Express</li>
                </ul>
            </div>
            <div class="alert alert-info" id="t1">
                <h4>Транспотртыек компании</h4>
                <ul style="list-style:none">
                    <li>Автотрейдинг</li>
                    <li>Байкал-сервис</li>
                    <li>Гарантпост</li>
                    <li>Деловые линии</li>
                    <li>ЖелдорЭкспедиция</li>
                    <li>ПЭК</li>
                    <li>Почта россии</li>
                </ul>
            </div>
            <div class="alert alert-info" id="t1">
                <h4>Самовывоз из пункта выдачи заказа</h4>
            </div> 
        </div>
        <hr/>
        <div class="container" id="con">
            <h3 style="text-align: center;">Способы отправки</h3>
            <div class="alert alert-info" id="t1">
                <h4>Сервис онлайн плаьтежей</h4>
                <ul style="list-style:none">
                    <li>Sфьыгтп pay</li>
                    <li>Aple Pay</li>
                    <li>Google Pay</li>
                    <li>PayAnyWay</li>
                    <li>WebMoney</li>
                    <li>Яндекс.Деньги</li>
                </ul>
            </div>
            <div class="alert alert-info" id="t1">
                <ul style="list-style: none">
                    <li>МИР</li>
                    <li>Visa</li>
                    <li>MasterCard</li>
                </ul>
            </div>
            <div class="alert alert-info" id="t1">
                <h4> Оплата наличными при поличении</h4>
            </div>
        </div>
       
        
    </div>