@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>добро пожаловать в магазин компьютерной техники!</h1>
        <p>У нас вы можете приобрести различную бытовую технику (компьютеры, мобильные телефоны, планшетные компьютеры, а также гаджеты к нмим. Мы имеем хорошую репутацию и богатый выбор товаров из каталгоа товаров.</p>
        <p><i>На сайте представлена продукция следующего типа:</i></p>
       <div style="width:60%; text-align: center;">
           <div class="alert alert-info">Комьютеры</div>
           <div class="alert alert-info">Мобильные телефоны</div>
           <div class="alert alert-info">Планшетные компьютеры</div>
           <div class="alert alert-info">Ноутбуки</div>
           <div class="alert alert-info">Различные компонены и детали к даенным клмпонентам</div>
       </div>
       <p>Вы можете перейти к каталогу и выбрать товар, затем оплатить его любым удобным способом и выбрать удобный именно для вас способ доставки. Желаем вам проиятного времяпровождения на нашем сайте.</p>
    </div>
     


